<!DOCTYPE html>
<html>
	<head>
		<title>Project Name</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Author Name">
		<meta name="keywords" content="key1, key2, key3, key4, key5">

		<link rel="shortcut icon" href="/stylesheets/images/favicon.ico" type="image/ico" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />

		<script type="text/javascript" src="/javascripts/jquery-min.1.7.1.js"></script>
	</head>
	<body>
		<div class="header">

		</div>
		
		<div class="content">
			<%- body %>
		</div>
		
		<div class="footer">

		</div>

		<!-- Custom Scripts-->
		<script type="text/javascript"></script>

	</body>
</html>
